---
import App from '../apps/index.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Salud Digital - Acceso">
	<main class="app-background">
		<App client:only="react"/>
	</main>
</Layout>

<style>
	:global(body) {
		margin: 0;
		padding: 0;
		background-color: #f8fafc;
	
	.app-background {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>