---
import App from '../apps/index.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Salud Digital">
	<main>
		<App client:load/>
	</main>
</Layout>

<style>
	:global(body) {
		margin: 0;
		padding: 0;
	}
</style>
